# ANN Project Practice

This is a practice project form Krish Nayak Cource. The objective of this project is to develop a basic and complete understanding of ANN, and also its complete deployment.   

The dataset used in this project is Churn Modeling dataset.  
It contains the bank details of people, and the objective of this project is to find out, if the person will be withdrawing money from the bank of not. 

This is a classification problem.

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pandas as pd
import numpy as np
import pickle

In [ ]:
url = 'ANN_Project/DataSet'
dataframe = pd.read_csv(url)

In [36]:
dataframe.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Pre Processing Data

In [4]:
print(dataframe.columns)

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [37]:
# Removing the values which are not needed
## RowNumber , CustomerID , Surname

dataframe = dataframe.drop(['CustomerId' , 'Surname', "RowNumber"], axis=1)
dataframe

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [38]:
# Applying Encoding to Catagorical Variable. 
label_encoder_gender = LabelEncoder()
dataframe['Gender'] = label_encoder_gender.fit_transform(dataframe['Gender'])
dataframe.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [53]:
# We won't use label encoding for 'Geography' because it's a nominal (non-ordinal) categorical feature.
# Label encoding would assign numerical values that might incorrectly imply an order or ranking.
# Instead, we'll use one-hot encoding to represent each category as a separate binary column.

from sklearn.preprocessing import OneHotEncoder

# Instantiate the one-hot encoder
oh_encoder_geo = OneHotEncoder()

# Apply one-hot encoding to the 'Geography' column.
# This returns a sparse matrix with binary values.
geo_encoder = oh_encoder_geo.fit_transform(dataframe[["Geography"]])

# Convert the sparse matrix to a dense NumPy array so it can be used in a DataFrame
geo_encoder = geo_encoder.toarray()

# Display the new feature names created by one-hot encoding
print('Encoded Feature Names:\n',
      oh_encoder_geo.get_feature_names_out(["Geography"]))
print('oh_encoder_geo Categories\n\t' , oh_encoder_geo.categories_)


# Create a new DataFrame from the encoded array with proper column names
geo_encoded_df = pd.DataFrame(geo_encoder, columns=oh_encoder_geo.get_feature_names_out(['Geography']))

# Display the new DataFrame with encoded geography features
print("\n\nNew Encoded DataFrame:\n", geo_encoded_df)

Encoded Feature Names:
 ['Geography_France' 'Geography_Germany' 'Geography_Spain']
oh_encoder_geo Categories
	 [array(['France', 'Germany', 'Spain'], dtype=object)]


New Encoded DataFrame:
       Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
#combinng all the columns with the original dataframe

## concatinating all the features
print(dataframe.columns)
dataframe = pd.concat([dataframe.drop('Geography',axis=1),geo_encoded_df], axis=1)

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [9]:

print(dataframe.head())

   CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0          619       0   42       2       0.00              1          1
1          608       0   41       1   83807.86              1          0
2          502       0   42       8  159660.80              3          1
3          699       0   39       1       0.00              2          0
4          850       0   43       2  125510.82              1          1

   IsActiveMember  EstimatedSalary  Exited  Geography_France  \
0               1        101348.88       1               1.0
1               1        112542.58       0               0.0
2               0        113931.57       1               1.0
3               0         93826.63       0               1.0
4               1         79084.10       0               0.0

   Geography_Germany  Geography_Spain
0                0.0              0.0
1                0.0              1.0
2                0.0              0.0
3                0.0              0.0
4                0.0              1.0

Saving the encoder and scaler.  
Commenting out the encoding, so that multiple pikle files are not created

In [10]:
with open ('label_encoder_gender.pkl' , 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open ('geo_encoder_oneHot.pkl','wb') as file:
    pickle.dump(oh_encoder_geo,file)

In [11]:
## Deviding the dataset into dependent and inipendent features

X = dataframe.drop(['Exited'], axis= 1)
y = dataframe['Exited']

scaler = StandardScaler()

## spliting the data into train test and split
X_train, X_test , y_train, y_test = train_test_split(X,y, test_size= 0.2 , random_state=42)

##Scaling the features, using standard scaler
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

###### NOTE  #######

# Do not scale before spliting, because then model will have seen some information
        # about the test data also, which it should not have. 
# Apply fit transform to train, and only transform to test, as in real life also 
        # model should apply the mean and standard dev of train data only, 
        # as only that is available.

Again commenting out the code to avoid multiple creations of the file.

In [12]:
# saving the scalar file also, in form of pkl format. 
## We are saving all the tools which we will be needing in deployment of application. 
### that is why we have saved the encoder, onehot encoder, and now the scaler, 
### so that it can also scale in real life data. 
### also now scaler has learned to scale the data from x_train. 



with open ('StandardScaler.pkl' , 'wb') as file:
    pickle.dump(scaler, file)

## Training of ANN

In [13]:
import tensorflow as tf
import datetime

## tensorflow calles ANN as a sequential network 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard

## Steps for Training an ANN using  Tensorflow
# 1. Model = Sequential 
# 2. Layer = Dense : When ever we need a fully connected layer, we use a Dense layer
# 3. Activation Function
# 4. Optimizer : for backpropagation
# 5. Loss Function 
# 6. Evalutaion Metrics : Accuracy , MSE 
# 7. Visualization = TensorBoard : Storing Computation logs for visualization

2025-06-14 14:30:18.984298: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-06-14 14:30:18.984889: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-06-14 14:30:18.987612: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-06-14 14:30:18.994068: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1749891619.006029   26698 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1749891619.009364   26698 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1749891619.018508   26698 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1749891619.018535   26698 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1749891619.018536   26698 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1749891619.018537   26698 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-06-14 14:30:19.021554: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [14]:
X_train.shape 

# X_train.shape[1] is different from X_train[1].shape
# array.shape ➞ (100, 10, 3)
# shape[0] = number of rows        100
# shape[1] = number of columns     10
# shape[n] = nth index of shape    3

(8000, 12)

In [15]:
## Demonstration 

print(X_train[1].shape, "type : " , type(X_train[1].shape))
print((X_train.shape[1],) , "type : " , type(X_train.shape[1],))

(12,) type :  <class 'tuple'>
(12,) type :  <class 'int'>

In [16]:
## Building ANN Model
model= Sequential ([
    Dense(64 , activation = 'relu' , input_shape=X_train[1].shape), # HL1 Connected to input layer
        # input_needs to be something of higher dimension, so ,) is used, 
        # ALTERNATIVE : X_train[1].shape will also work
    Dense(32 , activation = "relu"),# HL2 
        # Input shape only once. 
    Dense(1, activation = "sigmoid") # Output Layer
    ])

/media/escanor/extra/programing/python/Krish Nayak/venv/lib/python3.10/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2025-06-14 14:30:27.712625: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

In [17]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
# compiling the model 

# we can also create a lot of optimizers
opt = tf.keras.optimizers.Adam(learning_rate= 0.01)
        # We can directly optimizer= 'adam' below, or create an object like above,
            # if we want to set the learning rate ourself
loss = tf.keras.losses.BinaryCrossentropy()
model.compile ( optimizer= 'adam' , loss="binary_crossentropy" , metrics= ['accuracy'])

In [19]:
# Setting up the tensor board before training the mode. 
log_dir = 'logs/fit/' + datetime.datetime.now().strftime("%d %m %Y - %H %M %S")

tensorflow_callback = TensorBoard(log_dir , histogram_freq = 1)

In [20]:
## SettingUp Early Stopping  
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 5 , restore_best_weights = True)

In [21]:
## Finally Training The Model. 

history = model.fit(
    X_train, y_train, validation_data = (X_test,y_test),epochs = 100,
    callbacks = [tensorflow_callback , early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.7299 - loss: 0.5350 - val_accuracy: 0.8340 - val_loss: 0.3896
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8375 - loss: 0.3864 - val_accuracy: 0.8530 - val_loss: 0.3556
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8514 - loss: 0.3605 - val_accuracy: 0.8565 - val_loss: 0.3426
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8607 - loss: 0.3404 - val_accuracy: 0.8565 - val_loss: 0.3476
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8572 - loss: 0.3402 - val_accuracy: 0.8570 - val_loss: 0.3412
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8713 - loss: 0.3214 - val_accuracy: 0.8630 - val_loss: 0.3415
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8739 - loss: 0.3155 - val_accuracy: 0.8615 - val_loss: 0.3389
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8639 - loss: 0.3316 - val_accuracy: 0.8590 - val_loss: 0.3413
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8681 - loss: 0.3223 - val_accuracy: 0.8610 - val_loss: 0.3387
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8632 - loss: 0.3248 - val_accuracy: 0.8600 - val_loss: 0.3392
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8688 - loss: 0.3208 - val_accuracy: 0.8615 - val_loss: 0.3388
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8696 - loss: 0.3248 - val_accuracy: 0.8620 - val_loss: 0.3387
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8734 - loss: 0.3108 - val_accuracy: 0.8625 - val_loss: 0.3407
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8677 - loss: 0.3174 - val_accuracy: 0.8620 - val_loss: 0.3395

Saving Model.  

Commenting out again to prevent multiple creation.

In [24]:
model.save('model.h5')


## Storing the model in h5 file, 
# h5 file is better for storing complex models like neural networks

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [25]:
# Loading TensorBoard extension
%load_ext tensorboard

In [27]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 28556), started 0:00:16 ago. (Use '!kill 28556' to kill it.)

## Predicting With trained Model

In [28]:
from tensorflow.keras.models import load_model

model = load_model("model.h5")

## loading the encoders and scaler 

with open ('StandardScaler.pkl' ,'rb') as file:
    standard_scaler = pickle.load(file)

with open ('geo_encoder_oneHot.pkl' ,'rb') as file:
    geo_oh_encoder= pickle.load(file)

with open ('label_encoder_gender.pkl' ,'rb') as file:
    gen_lb_encoder = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [29]:
# Example of input data 
sample_data = {
    'CreditScore': 720,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 35,
    'Tenure': 5,
    'Balance': 150000.00,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 85000.00
}

In [30]:
# Now we will treat this input as the input given to us by user, 
# We will perform all the operations on this dictionary , which we intend to perfrom 
        # on out actual data.

data = pd.DataFrame([sample_data])

# Changing catagorical to numerical
data['Gender'] = gen_lb_encoder.transform(data["Gender"])

# Using One Hot Encoding on Data
oh_encoded_geo = geo_oh_encoder.transform([data['Geography']]).toarray()

# Creating Dataframe
dataframe = pd.DataFrame(oh_encoded_geo , columns=geo_oh_encoder.get_feature_names_out())

# Concatinating Data
data = pd.concat([data.drop('Geography', axis=1),dataframe], axis=1)
print(data.head())
X_input = standard_scaler.transform(data)

print(X_input)

   CreditScore  Gender  Age  Tenure   Balance  NumOfProducts  HasCrCard  \
0          720       1   35       5  150000.0              2          1

   IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
0               1          85000.0               1.0                0.0

   Geography_Spain
0              0.0
[[ 0.70934256  0.91324755 -0.37056859 -0.00134472  1.18317786  0.80843615
   0.64920267  0.97481699 -0.26829875  1.00150113 -0.57946723 -0.57638802]]

/media/escanor/extra/programing/python/Krish Nayak/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [31]:
## Predicting using the model

prediction = model.predict(X_input)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step

array([[0.05405016]], dtype=float32)

In [32]:
if prediction >=0.5 :
    print("Yes Person Will Leave The Bank")
else :
    print("No The Person Will Not Leave The Bank")

No The Person Will Not Leave The Bank